jupyter
jupyterlab
tensorboardX
ipywidgets
tqdm~=4.64.1
torch==2.1.0
torchvision==0.16
numpy==1.22.3
Pillow==8.2.0
pandas~=1.4.4
seaborn~=0.12.2
matplotlib~=3.7.0
scikit-learn~=0.24.2
pyarrow
fastparquet
opencv-python
albumentations
pytorch-lightning==2.1
pyspark==3.0.0
torchmetrics
fasttext
torch_geometric==2.4.0